{assign var='type' value=$type|default:'text'}
{assign var='value' value=$value|default:${$name}
{assign var='disabled' value=($disabled == "true") ? 'disabled' : ''}
{assign var='required' value=($required == "true") ? 'required' : ''}
{assign var='validationClass' value=(isset($validationErrors) && in_array($name, $validationErrors)) ? 'is-invalid' : ''}

<div class="row mb-3">
  <label for="{$name}" class="col-sm-4 col-form-label"
    >{$label} {if isset($tooltip)}
    <i
      class="fa fa-info-circle"
      data-toggle="tooltip"
      data-placement="top"
      title="{$tooltip}"
    ></i>
    {/if}
  </label>

  <div class="col-sm-8">
    {if $type == 'label'}
    <span>{$value}</span>
    {else}
    <input
      class="form-control {$validationClass}"
      type="{$type}"
      id="{$name}"
      name="{$name}"
      value="{$value}"
      {$required}
      {$disabled}
    />
    {/if}
  </div>
</div>
