{
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "main"
  ],
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "store.json"
        ],
        "message": "chore(release): Package.json ${nextRelease.version} [skip ci] \n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/git",
            {
              "assets": [
                "store.json"
              ],
              "message": "chore(release): Store.json ${nextRelease.version} [skip ci] \n\n${nextRelease.notes}"
            }
    ]
  ]
}
