{extends file="layout.html"}
{load_language_text section="gambio_welcome"}

{block name="content"}
<div>
  <div>
    <img src="" alt="makaira-icon"/>
  </div>
  <div>
    <div class="welcome__description">
        {$txt.heading}
    </div>
    <section class="welcome_clients">
      <h3>{$translation.heading}</h3>
      <div class="">
        {foreach name=connectedClient item=client from=$clients.items}
          <picture>
            <img src="{$client.logo}" alt="{$client.name}"/>
          </picture>
        {/foreach}
      </div>
    </section>
    <section>
      <h3>{$packages.heading}</h3>
      <div>
        {foreach name=availablePackage item=package from=$packages.items}
          <div class="makaira-card">
            <div class="makaira-card__header">
              <img src="{$package.icon}"/>
              <div>{$package.name}</div>
            </div>
            <div class="makaira-card__content">

            </div>
            <div class="makaira-card__footer">
              <div>{$package.price} / Monat</div>
            </div>
          </div>
        {/foreach}
      </div>
      <div>oder</div>
      <div>
        <div class="makaira-card">
          <div class="makaira-card__header">
            <img src="{$package.icon}"/>
            <div>{$package.name}</div>
          </div>
          <div class="makaira-card__content">
            <div>

            </div>
            <div>{$package.price} / Monat</div>
          </div>
        </div>
      </div>
    </section>
  </div>
<div>

{/block}

{block name="custom_scripts"}
<script src="{$overviewJs}"></script>
{/block}

