<div
  class="makaira-card {if $limit_width eq 'true' } card--limit-width {/if} card--{$package.card_type} {if $package.card_color} card--color-{$package.card_color} {/if}">

  <div class="makaira-card__box">
    <div class="makaira-card__box__wrapper">
      <div class="makaira-card__header">
        <i class="fa fa-{$package.icon}"></i>
        <div>{$package.heading}</div>
      </div>
      <div class="makaira-card__content">
        <div class="description">{$package.desc}</div>
        {if $package.features|@count > 0 }
        <ul class="features">
          {foreach $package.features as $feature }
          <li>
            <i class="fa fa-check"></i>
            <div>
              <div>{$feature.name}</div>
              <div class="description">{$feature.desc}</div>
            </div>
          </li>
          {/foreach}
        </ul>
        {/if}
      </div>
    </div>
    {if $package.orderNowBtn == true }
    <div class="makaira-card__box__wrapper">
      <div class="package-price price--hot">
        <span class="price">{$package.price} € </span>/ {$translation.MONTH}
      </div>
      <input
        class="visually-hidden package-checkbox"
        data-price="{$package.price}"
        type="checkbox"
        name="{$package.priceId}"
        checked
      />

      <button type="submit" class="makaira-cart-btn btn--hot">
        <i class="fa fa-shopping-cart"></i>{$translation.ORDER_NOW_BTN}
      </button>
    </div>
    {/if}
  </div>
  {if $package.orderNowBtn == null or $package.orderNowBtn == false }
  <div class="makaira-card__footer">
    <div class="package-price">
      <span class="price">{$package.price} € </span>/ {$translation.MONTH}
    </div>

    <div class="ck-button">
      <label>
        <input class="package-checkbox" type="checkbox"
        name="{$package.priceId}" data-price="{$package.price}" {if
        $package.default eq true } checked {/if} />
        <span class="unchecked trial-btn">
          <i class="fa fa-plus"></i> {$package.trialbtn}</span
        >
        <span class="checked link-btn package-status"
          ><i class="fa fa-check"></i> {$package.trial}</span
        >
      </label>
    </div>
  </div>
  {/if}
</div>
